shapely
scikit-image
imgaug
pyclipper
lmdb
tqdm
numpy
visualdl
rapidfuzz
opencv-contrib-python
cython
lxml
premailer
openpyxl
attrdict

fastapi
loguru
uvicorn
python-multipart

flask
paddleocr
paddlepaddle
gunicorn
